
<div class="center col">
  <!-- container for both list -->
  <!--<h1>Lista de Itens</h1>-->
</div>
<div class="center col">

<div class="row pad-2">
  <div class="col-md-6">
  <!-- To-Do list -->
    <h2>A Fazer</h2>

    <div class="col-md"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListConnectedTo]="[doneList]"
      [cdkDropListData]="todo"
      (cdkDropListDropped)="drag($event)">

      <div *ngFor="let item of todo" cdkDrag>
        <div class="linha fundo-f">
          {{item}}
          </div>

      </div>
    </div>
  </div>

    <div class="col-md-6">
      <!-- Done list -->
      <h2>Feitos</h2>

      <div class="col-md"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListConnectedTo]="[todoList]"
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drag($event)">

        <div *ngFor="let item of done" cdkDrag>
          <div class="linha fundo-a">
            {{item}}
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

